$bg-page: #03110c;
$color-light-gray: #333;
$color-green: #1d996e;
$color-text: #ffffff;
$laptop: 1024px;
$tablet: 768px;

@mixin font($font-size: 20px, $font-weight: 400) {
    font-family: 'Montserrat+Alternates', sans-serif;
    color: $color-text;
    font-size: $font-size;
    font-weight: $font-weight;
}



@import "_about";
@import "_catalog";
@import "_home";



* {
    box-sizing: border-box;
    margin: 0;
    @include font;
}

.page {
    background-color: $bg-page;
}

.wrapper {
    margin: 0 auto;
    max-width: 1248px;
    padding: 20px;
}

.page-header {
    background-color: $color-light-gray;
    position: relative;
    overflow-x: clip;
}

.page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__logo {
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    @media(max-width: $tablet) {
        justify-content: center;
    }
}

.page-header__title {
    font-size: 32px;
    top: 0;
    z-index: 2;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(201, 226, 61);
    letter-spacing: 2px;
    padding-left: 2px;
}

.logo-image {
    width: 48px;
}

.nav {
    @media(max-width: $tablet) {
        background: $color-light-gray;
        position: absolute;
        z-index: 3;
        padding: 30px;
        top: 20px;
        right: 0;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s;
    }
}

.nav.active {
    @media(max-width: $tablet) {
        transform: translateX(0);
        transition: 0.5s;
    }
}

.burger-menu {
    position: absolute;
    z-index: 4;
    display: none;
    width: 18px;
    height: 10px;
    position: relative;
    cursor: pointer;

    & div {
        position: absolute;
        width: 18px;
        height: 1.5px;
        background: rgb(201, 226, 61);
        border-radius: 2px;
        transition: 0.5s;
    }

    & div:nth-child(2) {
        top: 50%;
    }
    
    & div:nth-child(3) {
        top: 100%;
    }

    @media(max-width: $tablet) {
        display: block;
    }
}

.burger-menu.active {
    & div {
        position: absolute;
        width: 18px;
        height: 1.5px;
        background: $color-green;
        border-radius: 2px;
    }

    & div:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    
    & div:nth-child(2) {
        display: none;
    }

    & div:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
    }
}


.nav__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 70px;

    @media(max-width: $tablet) {
        flex-direction: column;
        gap: 10px;
    }
}

.nav__link {
    color: $color-text;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Montserrat+Alternates', sans-serif;
    text-decoration: none;
}

.page__wrapper {
    padding: 40px 20px;
}

.page__title {
    @include font(60px, 700);
    margin-bottom: 30px;
}


.page-footer {
    background: $color-light-gray;
}

.page-footer__top {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 1px solid $color-green;
    padding-bottom: 20px;
    @media(max-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.page-footer__column:not(:first-child) {
    border-left: 1px solid #1d996e;
    padding: 0 20px;
    @media(max-width: $tablet) {
        border: none;
    }
}

.page-footer__column:last-child {
    @media(max-width: $tablet) {
        border-left: 1px solid #1d996e;
    }
}

.page-footer__column:first-child {
    @media(max-width: $tablet) {
        width: 100%;
        text-align: center;
        & .page-footer__list {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

.page-footer__list-title {
    @include font(30px, 700);
}

.page-footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    list-style-type: none;
    @media(max-width: $tablet) {
        padding: 10px 0 20px;
    }
}

.page-footer__item a {
    text-decoration: none;
}

.page-footer__bottom {
    text-align: center;
    padding-top: 20px;
    @include font(16px, 400);
}