* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.page {
  background-color: #03110c;
}

.wrapper {
  margin: 0 auto;
  max-width: 1248px;
  padding: 20px;
}

.page-header {
  background-color: #333;
  position: relative;
  overflow-x: clip;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  position: relative;
  display: flex;
  text-decoration: none;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .page-header__logo {
    justify-content: center;
  }
}

.page-header__title {
  font-size: 32px;
  top: 0;
  z-index: 2;
  white-space: nowrap;
  text-decoration: none;
  color: rgb(201, 226, 61);
  letter-spacing: 2px;
  padding-left: 2px;
}

.logo-image {
  width: 48px;
}

@media (max-width: 768px) {
  .nav {
    background: #333;
    position: absolute;
    z-index: 3;
    padding: 30px;
    top: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .nav.active {
    transform: translateX(0);
    transition: 0.5s;
  }
}

.burger-menu {
  position: absolute;
  z-index: 4;
  display: none;
  width: 18px;
  height: 10px;
  position: relative;
  cursor: pointer;
}
.burger-menu div {
  position: absolute;
  width: 18px;
  height: 1.5px;
  background: rgb(201, 226, 61);
  border-radius: 2px;
  transition: 0.5s;
}
.burger-menu div:nth-child(2) {
  top: 50%;
}
.burger-menu div:nth-child(3) {
  top: 100%;
}
@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}

.burger-menu.active div {
  position: absolute;
  width: 18px;
  height: 1.5px;
  background: #1d996e;
  border-radius: 2px;
}
.burger-menu.active div:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.burger-menu.active div:nth-child(2) {
  display: none;
}
.burger-menu.active div:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 70px;
}
@media (max-width: 768px) {
  .nav__list {
    flex-direction: column;
    gap: 10px;
  }
}

.nav__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  font-family: "Montserrat+Alternates", sans-serif;
  text-decoration: none;
}

.page__wrapper {
  padding: 40px 20px;
}

.page__title {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog__content {
  display: grid;
  gap: 20px;
  grid-template-columns: 288px 1fr;
}
@media (max-width: 1024px) {
  .catalog__content {
    grid-template-columns: 230px 1fr;
  }
}
@media (max-width: 768px) {
  .catalog__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.catalog-nav {
  background-color: #333;
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
}

.catalog-nav__image {
  width: 30px;
  height: 30px;
}

.catalog-nav__title {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .catalog-nav__title {
    text-align: center;
  }
}

.catalog-nav__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}
@media (max-width: 768px) {
  .catalog-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.catalog-nav__item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.catalog-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .catalog-list {
    padding: 0;
  }
}

.catalog-item {
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  max-width: 265px;
}
@media (max-width: 1024px) {
  .catalog-item {
    max-width: 220px;
  }
}
@media (max-width: 768px) {
  .catalog-item {
    max-width: 300px;
  }
}

.catalog-item__title {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.catalog-item__image {
  width: 265px;
  height: 265px;
}
@media (max-width: 1024px) {
  .catalog-item__image {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 768px) {
  .catalog-item__image {
    width: 300px;
    height: 300px;
  }
}

.catalog-item__info {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 20px;
  gap: 10px;
}

.catalog-item__title {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.catalog-item__brand {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.catalog-item__price {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding: 7px;
}

.catalog-item__button {
  background: #1d996e;
  border: 1px solid #43494d;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
}
.catalog-item__button:hover {
  background: #25d698;
}

.catalog-item__stock {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  align-self: end;
}

.page-footer {
  background: #333;
}

.page-footer__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #1d996e;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .page-footer__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.page-footer__column:not(:first-child) {
  border-left: 1px solid #1d996e;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .page-footer__column:not(:first-child) {
    border: none;
  }
}

@media (max-width: 768px) {
  .page-footer__column:last-child {
    border-left: 1px solid #1d996e;
  }
}

@media (max-width: 768px) {
  .page-footer__column:first-child {
    width: 100%;
    text-align: center;
  }
  .page-footer__column:first-child .page-footer__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.page-footer__list-title {
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  list-style-type: none;
}
@media (max-width: 768px) {
  .page-footer__list {
    padding: 10px 0 20px;
  }
}

.page-footer__item a {
  text-decoration: none;
}

.page-footer__bottom {
  text-align: center;
  padding-top: 20px;
  font-family: "Montserrat+Alternates", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */